venv
/venv
.vscode
Programacao_Python_2/coleta_dados
Programacao_Python_2/Fundamentos_Analise_Dados
Programacao_Python_2/inicio
Programacao_Python_2/limpeza_dados
Programacao_Python_2/visualizacao
Programacao_Python_2/works_files
Programacao_Python_2/cleaning_data


